@model Root.Models.ViewModels.ViewVendorDetail




<div class="modal custom-modal fade" id="add_vendor" role="dialog">
    <div class="modal-dialog modal-dialog-centered modal-md">
        <div class="modal-content">
            <div class="modal-header border-0 pb-0">
                <div class="form-header modal-header-title text-start mb-0">
                    <h4 class="mb-0">Add Vendor</h4>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close">
                </button>
            </div>
            <form asp-action="AddVendorMaster" asp-controller="VendorMaster" method="post">
                @Html.AntiForgeryToken();

                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <div class="modal-body p-4">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="VendorName"></label>
                                <input type="text" asp-for="VendorName" name="VendorName" class="form-control" placeholder="Vendor Name">
                                <p>
                                    @Html.ValidationMessageFor(u => u.VendorName)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="CompanyName"></label>
                                <input type="text" asp-for="CompanyName"  class="form-control" placeholder="Company Name">
                                <p>
                                    @Html.ValidationMessageFor(u => u.CompanyName)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="ContactNo"></label>
                                <input type="text" asp-for="ContactNo" class="form-control" placeholder="Phone Number">
                                <p>
                                    @Html.ValidationMessageFor(u => u.ContactNo)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="ContactNo2"></label>
                                <input type="text" asp-for="ContactNo2" class="form-control" placeholder="Phone Number">
                                <p>
                                    @Html.ValidationMessageFor(u => u.ContactNo2)
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="EmailId"></label>
                                <input type="text" asp-for="EmailId" class="form-control" placeholder="Email ID">
                                <p>
                                    @Html.ValidationMessageFor(u => u.EmailId)
                                </p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label asp-for="GSTNo"></label>
                                <input type="text" asp-for="GSTNo" class="form-control" placeholder="GST No">
                                <p>
                                    @Html.ValidationMessageFor(u => u.GSTNo)
                                </p>
                            </div>
                        </div>
                    </div>
                  
                 
                    <div class="row">
                        <div class="col-md-12">
                            <div class="">
                            
                                <label asp-for="VendorAddress" for="field-7"></label>
                               
                                <textarea class="form-control" asp-for="VendorAddress" placeholder="Write Vedndor Address"></textarea>
                                <p>
                                    @Html.ValidationMessageFor(u => u.VendorAddress)
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            
                <div class="modal-footer">
                    <button type="button" data-bs-dismiss="modal" class="btn btn-back cancel-btn me-2">Cancel</button>
                    <button type="submit"  class="btn btn-primary paid-continue-btn">Add Vendor</button>
                  @*   <button type="submit" data-bs-dismiss="modal" class="btn btn-primary paid-continue-btn">ADD</button> *@
                </div>
            </form>
        </div>
    </div>
</div>